@model IEnumerable<SwiftDeclaration.Application.Declarations.Queries.GetAllDeclarationsBriefDetails.GetAllDeclarationsBriefDetailsQueryResponse>

@{
    ViewData["Title"] = "Index";
}

<h1><span style="color:red;">NOTE!!!</span> Due to the caching mechanism, recently added declarations may not be visible immediately (30seconds)</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageBase64)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageBase64)" style="width: 100px; height: 50px;object-fit:cover;   " />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
